:root 
{
	--uuidv4:'User'	;
}

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: black ; /** no-repeat center center fixed; **/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.ui[class*="left action"].input>.dropdown {
    border-radius: 0 .28571429rem .28571429rem 0;
}

.ui.selection.dropdown {
    width: 205px;
}

.lm_header .lm_tab {
    padding-bottom: 3px;
    height: 16px;
    font-family: "Droid Sans Mono", monospace, monospace, "Droid Sans Fallback";
    font-size: 14px;
}

.lm_header .lm_tab.lm_active {
    box-shadow: none;
    padding-bottom: 3px;
}

#upper-container {
    border-radius: 0;
    margin: 0;
    background: #1e1e1e;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    height: 45px;
}

@keyframes slide {
    0% { transform: translateX(570px); }
    100% { transform: translateX(-100%); }
}
@-webkit-keyframes slide {
    0% { transform: translateX(570px); }
    100% { transform: translateX(-100%); }
}


#ide-windows {
    height: calc(100% - 45px - 19px);
}

#ide-footer {
    background-color: #0E6EB8;
    bottom: 0;
    font-family: "Droid Sans Mono", monospace, monospace, "Droid Sans Fallback";
    font-size: 13px;
    height: 19px;
    padding-left: 16px;
    padding-right: 16px;
    position: fixed;
}

#ide-footer {
    color: #41a5f1;
    left: 0;
    text-align: center;
    width: 100%;
}

#ide-footer a {
    color: #41a5f1;
    font-weight: bold;
}

#ide-footer a:hover {
    color: #a0d2f8;
}

#run-btn
{
    background-color: green;
}


@keyframes changeColor 
{
    0% 		{opacity: .25;}
    25% 	{opacity: .5;}
    50% 	{opacity: 0.75;}
    75% 	{opacity: 1;}
    100% 	{opacity: 0;}
}

@keyframes blinkCursor
{
	to {
    	visibility: hidden;
    }
}

@keyframes fadeSelection 
{
	from {
		background-color: yellow;
		opacity: 0.5;
	}
	to {
		background-color: none;
		opacity: 0;
	}
}

/* The Animation and style is being rerender by the editor
 * This is not what we want. We don't want the receiving editor 
 * To manupulate or rerender the style sent by other editor.
*/
.fakeSelection-none {
    background-color: none;
	/* animation: fadeSelection 5s;*/
}

.fakeSelection {
	background-color: rgb( 165, 105, 189, 0.5);
}

.fakeCursor {
    position: absolute;
    border-left: rgb(255, 0, 13) solid 2px;
    border-top: rgb(255, 0, 34) solid 2px;
    border-bottom: rgb(255, 0, 0) solid 2px;
    height: 100%;
    box-sizing: border-box;
	animation:  blinkCursor 1.25s steps(5, start) infinite;;
}
.fakeCursor::after { 

    content: var(--uuidv4);
    color: black;
    background: red;
    opacity: 0;
	visibility: visible;
    position: absolute;
    top: 50%;
    right: -50%;
    margin-top: -30px;
    border-radius: 2px;
    padding: 2px;
    text-align: center;
    animation: changeColor 5s;
}
